{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About us</h2>
    <br>
    <div class=" row container">
        <p class="fs-4 text-center">Neel is a dairy based company working to increase the farmers' income and provide quality product to people.</p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Started in 2022, Neel has directly and indirectly supported about 15,000 farmers and provided quality products to 1.2 million customers.</p>
    </div>
</div>

{% endblock main-content %}