{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <h2 class="mt-4 text-center">Contact us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Address : 35, Jaipur, Rajasthan, India(313002)</p>
        <p class="fs-4 text-center">Contact number : 8964298469</p>
        <p class="fs-4 text-center">Email ID: Sampleid@gmail.com</p>
    </div>
</div>
{% endblock main-content %}